@{
    ViewData["Title"] = "Chính sách bảo mật";
}

<section class="page-header">
    <div class="container">
        <h1 class="fw-bold text-white">Chính sách bảo mật</h1>
    </div>
</section>
<div class="container py-5">
    <div class="glass-card">
        <h3>Chính sách bảo mật của LexiLearn</h3>
        <p>LexiLearn cam kết bảo vệ thông tin cá nhân của bạn. Chúng tôi chỉ sử dụng dữ liệu để cải thiện trải nghiệm học tập.</p>
    </div>
</div>
